body {
    font-family: 'Montserrat', sans-serif;
}


/* barra de navegacion bootstrap modificada*/

.navbar {
    background-color: black;
}

.nav-item {
    padding-left: 20px;
}

.nav-link {
    color: orange;
    border-radius: 40%;
    transition: all 1s ease;
}

.nav-link:hover {
    color: white;
    background-color: rgb(75, 73, 73);
}

nav img {
    height: 35px;
}


.custom-toggler {
    border-color: orange;
}



/*seccion carruse de imagenes modificada con bootstrap*/


.carru {
    position: relative;
}

.carru h2 {
    position: absolute;
    color: white;
    font-size: 90px;
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}