body {
    font-family: 'Montserrat', sans-serif;
}


/* barra de navegacion bootstrap modificada*/

.navbar {
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.nav-item {
    padding-left: 20px;
}

.nav-link {
    color: orange;
    border-radius: 40%;
    transition: all 1s ease;
}

.nav-link:hover {
    color: white;
    background-color: rgb(75, 73, 73);
}

nav img {
    height: 35px;
}


.custom-toggler {
    border-color: orange;
}



/*seccion carruse de imagenes modificada con bootstrap*/

.carrusel_img {
    margin-top: 60px;
}



.carru {
    position: relative;
}

.carru h2 {
    position: absolute;
    color: white;
    font-size: 70px;
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}

@media  screen and (max-width:640px) {
    .carru h2 {
        font-size:30px;
    }
    
}


/* seccion de promos*/

.promos {
    margin-top: 60px;
}

.promos h2 {
    text-align: center;
    padding-bottom: 20px;
}

.promos h3 {
    text-align: center;
    color: orange;
    padding: 20px;
}

.card {
    margin: 5px;
}

.card img {
    padding: 20px;
    font-weight: bold;
}
.card-title {
    font-weight: bold;
}

.card-body {
    text-align: center;   
}